.wrapper{
    background-color:lightblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin:10px;
    padding:5px;
    


}
.border-style {
    border-color:black;
    background-color:lightgreen;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding:5px;
    text-align:center;
}
#powerfishing{
    border-color:pink;
    border-style:dashed;
    height:400px;
    width:600px;
    
}


#header{
    font-size:x-large;
    font-weight:bold;
}

